[Unit]
Description=Edumaps API analytics (R Plumber)
After=network.target

[Service]
User=root
WorkingDirectory=<%= $path %>
Environment=EDUMAPS_R_PORT=8000
ExecStart=/usr/bin/Rscript inst/plumber/run.R
Restart=always

[Install]
WantedBy=multi-user.target