[Unit]
Description=EduMaps Minion Analytics Worker (fila analytics)
After=network.target edumaps-web.service

[Service]
Type=simple
User=root
WorkingDirectory=<%= $work_dir %>
Environment=MOJO_MODE=<%= $mojo_mode %>
Environment=EDUMAPS_CONFIG_MASTER_KEY=<%= $config_master_key %>
ExecStart=<%= $carton_path || '/usr/local/bin/carton' %> exec -- perl <%= $edumaps_path %> minion worker -q analytics
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target